{% if app.user.id == budget.user.id %}
    <a href="{{ path('sb_budget_edit', { 'id': budget.id }) }}" class="btn btn-default"><i class="fa fa-pencil"></i></a>
    <a href="{{ path('sb_budget_delete', { 'id': budget.id }) }}" class="btn btn-default"><i class="fa fa-trash"></i></a>
{% endif %}