{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('sb_budget_show', { 'id': budget.id }) }}" class="btn btn-default">{% trans %}bill.returntobudget{% endtrans %}</a>
        </div>
    </div>

    {% for userId, userDebts in debts %}
        {% if userDebts|length > 0 %}
            <h2>{% trans with { '%username%': usernames[userId] } %}repay.debts{% endtrans %}</h2>
            <p>
                {% for id, amount in userDebts %}
                    {% set name = 'repay.billname'|trans({ '%payer%': usernames[userId], '%payee%':usernames[id] }) %}
                    {% set data = { 'budget_id':budget.id, 'name':name, 'price':amount, 'payer':userId, 'payee':id } %}

                    <a href="{{ path('sb_bill_new', data) }}" class="btn btn-default">
                        {% trans with { '%username%': usernames[id], '%amount%': amount } %}repay.owes{% endtrans %}
                    </a>
                {% endfor %}
            </p>
        {% endif %}
    {% endfor %}

{% endblock body %}

{% block js %}
{% endblock js %}