<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ path('fos_user_security_login') }}" class="pure-menu-link">{% trans %}menu.login{% endtrans %}</a></li>
        <li class="pure-menu-item"><a href="{{ path('fos_user_registration_register') }}" class="pure-menu-link">{% trans %}menu.signup{% endtrans %}</a></li>
    </ul>
</div>