<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="" class="pure-menu-link">Log in</a></li>
        <li class="pure-menu-item"><a href="" class="pure-menu-link">Sign up</a></li>
    </ul>
</div>