{% if bills|length > 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}bill.name{% endtrans %}</th>
            <th>{% trans %}bill.price{% endtrans %}</th>
            <th>{% trans %}bill.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td>{{ bill.name }}</a></td>
                <td>{{ bill.price }}</td>
                <td>{{ include('bill/buttons.html.twig', { 'bill': bill }) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">{% trans %}bill.none{% endtrans %}</div>
{% endif %}