{% extends 'base.html.twig' %}

{% block body %}

    {% for action in actions %}
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- {{ action.template }} -->
                {{ include("activity/#{action.template}.html.twig") }}
            </div>
        </div>
    {% endfor %}

{% endblock body %}

{% block js %}
{% endblock js %}